# URL del sitio para generar enlaces absolutos (importante para Open Graph)
NEXT_PUBLIC_SITE_URL=https://rafaelahoy.com

# URL de la API de Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
